<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{$title}}Default Title{{/title}}</title>
  <link href="/static/css/style.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.9.12"
    integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
</head>


<body class="rose-pine">
  <div class="container">
    <nav>
      <a href="/">home</a>
      {{^user}}<a href="/login">login</a>{{/user}}
      {{#user}}<a hx-post="/logoff">logoff</a>{{/user}}
    </nav>
    {{$content}}
    {{/content}}
    <footer>
      <a href="https://github.com/sakhezech/online-chess">
        check project's gh page
      </a>
    </footer>
  </div>
</body>

</html>
