{{< _template}}{{!></>}}
{{$title}}Login{{/title}}
{{$content}}
<div class='center'>
  <fieldset>
    <legend>login</legend>
    <form hx-post='/login'>
      <label for="username">Username</label>
      <input type="text" id='username' name='username' required>
      <label for="password">Password</label>
      <input type="password" id='password' name='password' required>
      <button type="submit">Login</button>
    </form>
  </fieldset>
  <fieldset>
    <legend>register</legend>
    <form hx-post='/register'>
      <label for="username">Username</label>
      <input type="text" id='username' name='username' required>
      <label for="password">Password</label>
      <input type="password" id='password' name='password' required>
      <label for="repeat">Repeat</label>
      <input type="password" id='repeat' name='repeat' required>
      <button type="submit">Register</button>
    </form>
  </fieldset>
</div>
{{/content}}
{{/ _template}}
